doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Document
    link(rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css")
    link(rel="stylesheet" href="./public/dist/sierra.min.css")
    style.
      header {
      width: 100%;
      height: 56px;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 80;
      background-color: #fff;
      box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.095);
      padding: 8px 16px;
      overflow: hidden;
      box-sizing: border-box;
      }
      aside {
      background-color: #fff;
      width: 250px;
      position: fixed;
      top: 55px;
      left: 0;
      bottom: 0px;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      }
      aside h2 {
      font-weight: 300;
      color: #afafaf;
      }
      button {
      background: transparent;
      border: 0;
      width: 40px;
      height: 40px;
      font-size: 30px;
      outline: none;
      color: #9f9f9f;
      cursor: pointer;
      border-radius: 50%;
      transition: all .3s ease-in-out;
      }
      button:active {
      background-color: rgba(0, 0, 0, 0.1);
      }
      .slide-transition {
      transition: all .3s cubic-bezier(.65, .05, .36, 1);
      }
      .slide-enter,
      .slide-leave {
      left: -100%;
      }
  body
    #app
      header
        button(@click="saidBar = !saidBar")
          span X
      aside(v-show="saidBar" transition="slide")
        ul.text-gray
          li
            a(href="index.html") Главная
          li
            a(href="demo-version.html") Демо версия
          li
            a(href="full-version.html") Полная версия
          li
            a(href="") О проекте
          li
            a(href="") О авторе
          //
            <li>
            <a href="http://"></a>Главная</li>
            <li>
            <a href="http://"></a>Демо версия</li>
            <li>
            <a href="http://"></a>Полная версия</li>
            <li>
            <a href="http://"></a>О проекте</li>
            <li>
            <a href="http://"></a>О авторе</li>
          // <li><a href="http://"></a></li>
    script(src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js")
    script.
      new Vue({
      el: "#app",
      data: {
      saidBar: false
      }
      })
